<lib name="jquery"/>
<msgqueue/>
<div id="divAssetDisManagement">
	<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				资产报废
			</div>

			<div class="oa_tablehead_button">
				<form name="formSearch" method="post">
				<div class="oa_tablehead_button_from">
					<input name="search_key" type="text" placeholder="输入资产编号查询" results="15"/>
					<input type="submit" class="oa_form_button" value="搜索"/>
				</div>
				</form>
			</div>
		</div>
		<div class="oa_table">
			<form method="post">
				<table>
					<thead>
						<tr>
							<th><input type="checkbox" id="checkAll"/> 全选</th>
							<th>资产编号</th>
							<th>资产名称</th>
							<th>所属类别</th>
							<th>资产状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tboday>
						<foreach for="$aAssetManagementModel" item="aAss">
							<tr>
								<td><input type="checkbox" name="id_key[]" value="{=$aAss['aid']}"/></td>
								<td>{=$aAss['sid']}</td>
								<td>{=$aAss['name']}</td>
								<td>{=$aAss['type.name']}</td>
								<td>
									<if '{=$aAss['status']}==1'>
										<span class="oa_mode_reserve">在库</span>
										<elseif '{=$aAss['status']}==2'/>
										<span class="oa_mode_consuming">领用</span>
										<elseif '{=$aAss['status']}==3'/>
										<span class="oa_mode_maintain">维修</span>
										<elseif '{=$aAss['status']}==4'/>
										<span class="oa_mode_scrap">报废</span>
									</if>
								</td>
								<td><a href="?c=org.opencomb.openoa.AssetsManagement.Management.EditAsset&aid={=$aAss['aid']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.AssetsManagement.Management.DeleteAsset&aid={=$aAss['aid']}" class="oa_button_del" title="删除"></a></td>
							</tr>
						</foreach>
					</tboday>
				</table>
				<div class="oa_table_foot">
					<input name="报废" type="submit" class="oa_table_footer_button" value="报废"/>
				</div>
			</form>
			<div class="clr"></div>
		</div>
</div>
<script>
	jquery("#checkAll").toggle(
		function(){
			jquery("input:checkbox").attr('checked',true);
		},
		function(){
			jquery("input:checkbox").attr('checked',false);
		}
	)

</script>