<form id="form1" name="form1" method="post" action="">
  <p>步骤名称：
    <input name="name" type="text" id="name"/>
  </p>
  <p>审核部门：
  
<select name="gid" id="gid">
<option value="0" selected="selected">请选择</option>
<foreach for='$GroupModel' item="aData">
<option value="{=$aData['gid']}">{=$aData['name']}</option>
</foreach>
</select>
  </p>
  <p>&nbsp;</p>
  <p>状态一：
    <input name="status[1]" type="text" id="status[1]" value="同意"/>
  </p>
  <p>状态二：
    <input name="status[2]" type="text" id="status[2]" value="不同意"/>
</p>
  <p>状态三：
    <input name="status[3]" type="text" id="status[3]" value="打回"/>
  </p>
  <p>状态四：
    <input name="status[4]" type="text" id="status[4]" value="关闭"/>
  </p>
  <p>&nbsp;  </p>
  <p>
    <input type="submit" name="Submit" value="保存" />
    <input name="tid" type="hidden" id="tid" value="{=$theParams->get('tid')}" />
  </p>
  </form>
