<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			{=$row['name']}
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
		<form id="form1" name="form1" method="post" action="">
		<div class="oa_table_form">
				<h1>姓名</h1>
				{=org\jecat\framework\auth\IdManager::singleton()->currentId()->username()}
				<h1>标题</h1>
				<input name="title" type="text" id="title" class="text" />
				<h1>开始日期</h1>
				<input name="date1" type="text" id="date1" value="{=date('Y-m-d H:i:s')}" class="text" />
				<h1>结束日期</h1>
				<input name="date2" type="text" id="date2" value="{=date('Y-m-d H:i:s')}" class="text" />
				<h1>备注</h1>
				<textarea name="explain" id="explain"></textarea>
				<h1>流程说明</h1>
				  <table>
					  <tbody>
					  <foreach for='$list' item="aData" key="key">
						<tr>
						  <td>第{=$key+1}步</td>
						  <td>{=$aData['group.name']}</td>
						  </tr>
					  </foreach>
					  </tbody>
					</table>
				<div class="oa_table_form_info">
				<p>
					<input type="submit" name="Submit" class="oa_button_save" value="申请" />
   					<input name="tid" type="hidden" id="tid" value="{=$theParams->get('tid')}" />
    				<input name="uid" type="hidden" id="uid" value="{=org\jecat\framework\auth\IdManager::singleton()->currentId()->userId()}" />
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>
