		<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				待我审核
			</div>
			<div class="oa_tablehead_button">
			</div>
		</div>
		<div class="oa_table">
			<table>
			<thead>
				<tr>
				  <td>类型</td>
				  <td>标题</td>
				  <td>姓名</td>
				  <td>状态</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				</tr>
			</thead>
			<tbody>
			  <foreach for='$list' item="aData">
				<tr>
				  <td>{=$aData['task.name']}</td>
				  <td>{=$aData['title']}</td>
				  <td>{=$aData['user.name']}</td>
				  <td>{=$aData['statname']}</td>
				  <td><foreach for='$aData["stat"]' item="aData2">[<a href="?c=org.opencomb.openoa.process.ActionApproval&rid={=$aData['id']}&tid={=$aData['tid']}&sid={=$aData2['id']}">{=$aData2['name']}</a>] </foreach></td>
				  <td><a href="?c=org.opencomb.openoa.process.DetailApproval&rid={=$aData['id']}">查看</a></td>
				</tr>
			  </foreach>
			  </tbody>
			</table>
		</div>
