<lib name="jquery"/>
<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

<div id="divDepartmentCount">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			部门项目绩效
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
	<table>
		<thead>
			<tr>
				<th>
					部门
				</th>
				<th>
					负责人
				</th>
				<th>
					完成项目数
				</th>
				<th>
					未完成项目数
				</th>
			</tr>
		</thead>
		<tbody>
			<foreach for="$arrCount" item="aCount">
				<tr>
					<td>
						{=$aCount['department']}
					</td>
					<td>
						{=$aCount['responsible']}
					</td>
					<td>
						{=$aCount['complete']}
					</td>
					<td>
						{=$aCount['nocomplete']}
					</td>
				</tr>
			</foreach>
		</tbody>
	</table>
	</div>
</div>