<lib name="jquery"/>
<lib name="jquery.ui"/>
<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

<div id="divDepartmentQuery">
		<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				部门项目查询
			</div>
			<div class="oa_tablehead_button">
				<div class="oa_tablehead_button_from">
					<form method="post">
						<input type="text" placeholder="输入日期查询" id="select_time" name="select_time" size="15"/>
						<input type="submit" class="oa_form_button" value="查询"/>
					</form>
				</div>
			</div>
		</div>
		<div class="oa_table">
		<table>
		<thead>
			<tr>
				<th>
					部门
				</th>
				<th>
					负责人
				</th>
				<th>
					项目描述
				</th>
				<th>
					完成进度
				</th>
				<th>
					状态 
				</th>
				<th>
					开始时间 
				</th>
				<th>
					结束时间 
				</th>
			</tr>
		</thead>
		<tbody>
			<foreach for="$aProjectManagement" item="aPro">
				<tr>
					<td>
						{=$aPro['group.name']}
					</td>
					<td>
						{=$aPro['user.username']}
					</td>
					<td>
						{=$aPro['content']}
					</td>
					<td>
						{=$aPro['rates']}%
					</td>
					<td>
						<if '{=$aPro['status']}==1'>
							<span class="oa_mode_conduct">进行中</span>
							<elseif '{=$aPro['status']}==2'/>
							<span class="oa_mode_termination">终止</span>
							<elseif '{=$aPro['status']}==3'/>
							<span class="oa_mode_complete">完成</span>
							<elseif '{=$aPro['status']}==4'/>
							<span class="oa_mode_pause">暂停</span>
							<elseif '{=$aPro['status']}==5'/>
							<span class="oa_mode_delay">延迟</span>
						</if>
					</td>
					<td>
						{=date('Y-m-d',$aPro['starttime'])}
					</td>
					<td>
						{=date('Y-m-d',$aPro['endtime'])}
					</td>
				</tr>
			</foreach>
		</tbody>
	</table>
		</div>
</div>
<script>
		//设置日期插件配置
		var dateOption = {
			dateFormat:'yy-mm-dd'
				,changeYear:true
				,changeMonth:true
				,monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
				,monthNamesShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
				,dayNames:['周日','周一','周二','周三','周四','周五','周六']
				,dayNamesMin:['周日','周一','周二','周三','周四','周五','周六']
				,dayNamesShort:['周日','周一','周二','周三','周四','周五','周六']
				,yearRange:'1940:2020'
				//,showOn:'both'
				,duration:'slow'
				//,buttonText:'日期'
				//,buttonImage:'' 		//填写图片路径
				//,buttonImageOnly:true
				//,appendText:'(yyyy-mm-dd)'
		};
		
		//使用日期插件
		jquery('#select_time').datepicker(dateOption);
		jquery('#endtime').datepicker(dateOption);
</script>