<lib name="jquery"/>
<div id="divDepartmentCountCurrent">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			本人本月报表
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
	<table>
		<thead>
			<tr>
				<th>
					部门
				</th>
				<th>
					负责人
				</th>
				<th>
					项目描述
				</th>
				<th>
					完成进度
				</th>
				<th>
					状态 
				</th>
				<th>
					开始时间 
				</th>
				<th>
					结束时间 
				</th>
			</tr>
		</thead>
		<tbody>
			<foreach for="$aProjectManagement" item="aPro">
				<tr>
					<td>
						{=$aPro['group.name']}
					</td>
					<td>
						{=$aPro['user.username']}
					</td>
					<td>
						{=$aPro['content']}
					</td>
					<td>
						{=$aPro['rates']}%
					</td>
					<td>
						<if '{=$aPro['status']}==1'>
							<span class="oa_mode_conduct">进行中</span>
							<elseif '{=$aPro['status']}==2'/>
							<span class="oa_mode_termination">终止</span>
							<elseif '{=$aPro['status']}==3'/>
							<span class="oa_mode_complete">完成</span>
							<elseif '{=$aPro['status']}==4'/>
							<span class="oa_mode_pause">暂停</span>
							<elseif '{=$aPro['status']}==5'/>
							<span class="oa_mode_delay">延迟</span>
						</if>
					</td>
					<td>
						{=date('Y-m-d',$aPro['starttime'])}
					</td>
					<td>
						{=date('Y-m-d',$aPro['endtime'])}
					</td>
				</tr>
			</foreach>
		</tbody>
	</table>
	</div>
</div>