<msgqueue/>
<div id="divAssetsManagement">
	<h1>固定资产管理</h1>
	<form method="post">
		<table border="1">
			<thead>
				<tr>
					<th>资产编号</th>
					<th>资产名称</th>
					<th>所属类别</th>
					<th>资产状态</th>
					<th colspan="2">操作</th>
				</tr>
			</thead>
			<tboday>
				<foreach for="$aAssetManagementModel" item="aAss">
					<tr>
						<td>{=$aAss['sid']}</td>
						<td>{=$aAss['name']}</td>
						<td>{=$aAss['type.name']}</td>
						<td>
							<if '{=$aAss['status']}==1'>
								在库
								<elseif '{=$aAss['status']}==2'/>
								领用
								<elseif '{=$aAss['status']}==3'/>
								维修
								<elseif '{=$aAss['status']}==4'/>
								报废
							</if>
						</td>
						<td><a href="?c=org.opencomb.openoa.AssetsManagement.Register.EditAssetRegister&aid={=$aAss['aid']}">编辑</a></td>
						<td><a href="?c=org.opencomb.openoa.AssetsManagement.Register.DeleteAssetRegister&aid={=$aAss['aid']}">删除</a></td>
					</tr>
				</foreach>
			</tboday>
		</table>
	</form>
</div>