<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

<div id="AddPosition">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			添加职位
		</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left_back">
				<a href="?c=org.opencomb.openoa.PersonnelManagement.Position.PositionManagement" class="oa_button_right">返回职位管理</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
	<form method="post">
		<div id="AddPosition_table" class="oa_table_form">
				<h1>职位名称</h1>
				<widget id="name" type="text" class="text" />
				<div class="oa_table_form_info">
				<p>
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>
</div>