<div id="PositionManagement">
	<h1>职位管理</h1>
		<a href="?c=org.opencomb.oa.PersonnelManagement.Position.AddPosition">添加部门</a>
		<table id="PositionManagement_table">
			<thead>
				<tr>
					<th>职位名称</th>
					<th colspan=2>操作</th>
				</tr>
				<foreach for="$aPositionModel" item="aPos">
				<tr>
					<td>{=$aPos["PositionName"]}</td>
					<td><a href="?c=org.opencomb.oa.PersonnelManagement.Position.EditPosition&pid={=$aPos['pid']}&name={=$aPos['PositionName']}">编辑</a></td>
					<td><a href="?c=org.opencomb.oa.PersonnelManagement.Position.DeletePosition&pid={=$aPos['pid']}">删除</a></td>
				</tr>
				</foreach>
			</thead>
		</table>
		<widget id="paginator" attr.nums="10" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="1" attr.showNext="1" />
</div>