<lib name="jquery"/>
<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />
<msgqueue/>
<div id="divAssetsManagement">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			固定资产管理
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
		<form method="post">
			<table>
				<thead>
					<tr>
						<th>资产编号</th>
						<th>资产名称</th>
						<th>所属类别</th>
						<th>资产状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tboday>
					<foreach for="$aAssetManagementModel" item="aAss">
						<tr>
							<td>{=$aAss['sid']}</td>
							<td>{=$aAss['name']}</td>
							<td>{=$aAss['type.name']}</td>
							<td>
								<if '{=$aAss['status']}==1'>
									<span class="oa_mode_reserve">在库</span>
									<elseif '{=$aAss['status']}==2'/>
									<span class="oa_mode_consuming">领用</span>
									<elseif '{=$aAss['status']}==3'/>
									<span class="oa_mode_maintain">维修</span>
									<elseif '{=$aAss['status']}==4'/>
									<span class="oa_mode_scrap">报废</span>
								</if>
							</td>
						<td><a href="?c=org.opencomb.openoa.AssetsManagement.Register.EditAssetRegister&aid={=$aAss['aid']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.AssetsManagement.Register.DeleteAssetRegister&aid={=$aAss['aid']}" class="oa_button_del" title="删除"></a></td>
						</tr>
					</foreach>
				</tboday>
			</table>
		</form>
	</div>
</div>