<lib name='jquery'/>
<div id="DemissionDefinition">
	<h1>离职流程定义</h1>
	<form  method="post" >
		<div class='DemissionSetting'>
			<label>部门:<input type="text" size="5" name="Department_text[]" /></label>&nbsp;&nbsp;
			<label>负责人员:<input type="text" size="5" name="Manager_text[]" /></label>&nbsp;&nbsp;
			<label>指责:<input type="text" size="15" name="Accuse_text[]" /></label>&nbsp;&nbsp;
		</div>
			<a style="margin-left:270px;" id='addSetup' href='#'>添加</a>
			<a  id=deleteSetup href='#'>删除</a>
		<input type="submit" value="提交" />
	</form>
</div>
<script>
	jquery(function(){
		//添加按钮功能
		jquery('#addSetup').click(function(){
			var langForm = jquery(".DemissionSetting").last().clone();
			console.log(langForm.find('input[type=text]').attr('value',''));
			jquery(this).before(langForm);
			return false;
		});
	});
	
	jquery(function(){
		//添加按钮功能
		jquery('#deleteSetup').click(function(){
			if(jquery('.DemissionSetting').length>1)
			{
				var advertisementForm = jquery(".DemissionSetting").last().remove();
				return false;
			}
	
		});
	});
</script>