<div id="DeparmentManagement">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			编辑部门
		</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left_back">
				<a href="?c=org.opencomb.openoa.PersonnelManagement.Dep.DepartmentManagement" class="oa_button_right">返回部门管理</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
		<form method="post">
		<div id="DeparmentManagement_table" class="oa_table_form">
				<h1>部门名称</h1>
				<widget id="edit_name" class="text" />
				<h1>部门描述</h1>
				<widget id="edit_content" class="text" />
				<div class="oa_table_form_info">
				<p>
					<widget id="hide_old_name" />
					<widget id="hide_did" />  
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>
	
</div>