<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />
<lib name='jquery'/>

<div class="oa_all">
	<!--head-->
	<div class="oa_head">
		<div class="oa_head_logo">
		</div>
		<div class="oa_head_user">
			<if "$aId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
			<span class="oa_user_ico">
				<select onchange="window.location.href='?c=org.opencomb.coresystem.user.SwichId&uid=' + this.options[this.selectedOption].value">
					<foreach for="\org\jecat\framework\auth\IdManager::singleton()->iterator()" item='aId'>
					<option value="{=$aId->userId()}"{= $aId===$aCurrentId? ' selected': ''}>{=$aId->displayName()}</option>
					</foreach>
				</select>
			</span>
			<if "\org\opencomb\coresystem\auth\PurviewQuery::singleton()->hasPurview($aId,\org\opencomb\coresystem\auth\Id::PLATFORM_ADMIN,'coresystem')">
			<span class="oa_setup_ico">
				<a href="?c=control.panel">控制面板</a>
			</span>
			</if>
			<span class="oa_quit_ico">
				<a href="?c=logout">退出</a>
			</span>
			<else />
			<span class="oa_login_ico">
				<a href="?c=login">登录</a>
			</span>
			</if>
		</div>
		<div class="clr"></div>
		<div class="oa_menu">
			<ul>
				<li><a href="?c=org.opencomb.openoa.PersonnelManagement.Dep.DepartmentManagement">人事管理</a></li>
				<li><a href="?c=org.opencomb.openoa.ProjectManagement.Management.ProjectManagement">项目管理</a></li>
				<li><a href="?c=org.opencomb.openoa.AssetsManagement.Management.AssetsManagement">固定资产</a></li>
				<li><a href="?c=org.opencomb.openoa.office.Inbox">个人办公</a></li>
				<li><a href="?c=org.opencomb.openoa.Attendance.Punch">考勤管理</a></li>
				<li><a href="?c=org.opencomb.openoa.process.Record">审批流转</a></li>
			</ul>
		</div>
	</div>
	<!--body-->
	<div class="oa_body">
		<div class="oa_left">
		<!-- attr.depth from depth show
			attr.showDepths total show depths
		-->
			<widget id="mainMenu" type='menu' attr.depth="1">
			<item id="PersonnelManagement" title="人事管理" link="?c=org.opencomb.openoa.PersonnelManagement.Dep.DepartmentManagement">
				<item id="Overtime_menu" title="部门管理" controller="org.opencomb.openoa.PersonnelManagement.Dep.DepartmentManagement" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Dep.EditDepartment</query>
				</item>
				<item id="Position_menu" title="职位管理" controller="org.opencomb.openoa.PersonnelManagement.Position.PositionManagement" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Position.EditPosition</query>
				</item>
				<item id="Employee_menu" title="员工管理" controller="org.opencomb.openoa.PersonnelManagement.Employee.EmployeeManagement" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Employee.AddEmployee</query>
				</item>
				<item id="Demission_menu" title="离职管理" controller="org.opencomb.openoa.PersonnelManagement.Demission.DemissionManagement" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Employee.EditEmployee</query>
				</item>
				<item id="ContractManagement_menu" title="人事合同管理" controller="org.opencomb.openoa.PersonnelManagement.Contract.ContractManagement" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Contract.EditContract</query>
				</item>
				<item id="NoContract_menu" title="未签合同管理" controller="org.opencomb.openoa.PersonnelManagement.Contract.NoContract" >
					<query bean.type="string">c=org.opencomb.openoa.PersonnelManagement.Contract.AddContract</query>
				</item>
			</item>
			<item id="ProjectManagement" title="项目管理" link="?c=org.opencomb.openoa.ProjectManagement.Management.ProjectManagement">
				<item id="ProjectManagement_menu" title="项目管理" controller="org.opencomb.openoa.ProjectManagement.Management.ProjectManagement" >
					<query bean.type="string">c=org.opencomb.openoa.ProjectManagement.Management.EditProject</query>
				</item>
				<item id="Assign_menu" title="我分配的项目" controller="org.opencomb.openoa.ProjectManagement.Management.MyAssignmentProject" />
				<item id="Management_menu" title="我管理的项目" controller="org.opencomb.openoa.ProjectManagement.Management.MyManagementProject" />
				<item id="add_menu" title="新建项目" controller="org.opencomb.openoa.ProjectManagement.Management.AddProject" />
				<item id="type_menu" title="项目类别管理" controller="org.opencomb.openoa.ProjectManagement.Type.ProjectTypeManagement" >
					<query bean.type="string">c=org.opencomb.openoa.ProjectManagement.Type.EditProjectType</query>
				</item>
				<item id="performance_menu" title="绩效统计" >
					<item id="performance_menu_query" title="部门项目查询" controller="org.opencomb.openoa.ProjectManagement.Performance.DepartmentQuery" />
					<item id="performance_menu_depart" title="部门项目绩效" controller="org.opencomb.openoa.ProjectManagement.Performance.DepartmentCount" />
					<item id="performance_menu_port" title="部门本月报表" controller="org.opencomb.openoa.ProjectManagement.Performance.DepartmentCurrentQuery" />
					<item id="performance_plan" title="部门下月计划" controller="org.opencomb.openoa.ProjectManagement.Performance.DepartmentNextQuery" />
					<item id="performance_menu_person_port" title="本人本月报表" controller="org.opencomb.openoa.ProjectManagement.Performance.MyCurrentQuery" />
					<item id="performance_menu_person_plan" title="本人下月计划" controller="org.opencomb.openoa.ProjectManagement.Performance.MyNextQuery" />
				</item>	
			</item>
			<item id="AssetsManagement" title="固定资产" link="?c=org.opencomb.openoa.AssetsManagement.AssetsManagement.AssetsManagement">
				<item id="AssetManagement_menu" title="固定资产" controller="org.opencomb.openoa.AssetsManagement.Management.AssetsManagement"/>
				<item id="AssetRegister_menu" title="资产登记" controller="org.opencomb.openoa.AssetsManagement.Register.RegisterManagement" >
						<item id="AssetAdd_menu" title="添加资产" controller="org.opencomb.openoa.AssetsManagement.Register.AddAsset"/>
				</item>
				<item id="AssetDiscard_menu" title="资产报废" controller="org.opencomb.openoa.AssetsManagement.Discard.AssetDiscardManagement" />
				<item id="AssetTypeManagement_menu" title="类别维护" controller="org.opencomb.openoa.AssetsManagement.Type.AssetTypeManagement">
					<item id="AddAssetType" title="添加类别" controller="org.opencomb.openoa.AssetsManagement.Type.AddAssetType"/>
				</item>
			</item>
			<item id="inde4114x" title="个人办公" link="?c=org.opencomb.openoa.office.Inbox" perms.purview.name="openoa:Inbox">
				<item id="Inbox_menu" title="消息信箱">
					<item id="Send_menu" title="发送消息" controller="org.opencomb.openoa.office.Send" />
					<item id="Inbox_menu" title="已收消息" controller="org.opencomb.openoa.office.Inbox" >
						<query bean.type="string">c=org.opencomb.openoa.office.Detail&fromMenu=Inbox</query>
					</item>
					<item id="Receiver_menu" title="已发消息" controller="org.opencomb.openoa.office.Outbox" >
						<query bean.type="string">c=org.opencomb.openoa.office.Detail&fromMenu=Outbox</query>
					</item>
					<item id="Drafts_menu" title="草稿箱" controller="org.opencomb.openoa.office.Drafts" >
						<query bean.type="string">c=org.opencomb.openoa.office.DraftsDetail</query>
					</item>
				</item>
				<item id="fileInbox_menu" title="文件收发">
					<item id="fileSend_menu" title="发送文件" controller="org.opencomb.openoa.office.fileSend" />
					<item id="Receiver_menu" title="已发文件" controller="org.opencomb.openoa.office.fileOutbox" >
						<query bean.type="string">c=org.opencomb.openoa.office.fileDetail&fromMenu=fileOutbox</query>
					</item>
					<item id="fileInbox_menu" title="接收文件" controller="org.opencomb.openoa.office.fileInbox" >
						<query bean.type="string">c=org.opencomb.openoa.office.fileDetail&fromMenu=fileInbox</query>
					</item>
				</item>
			</item>
			<item id="indeAtt1" title="考勤管理" link="?c=org.opencomb.openoa.Attendance.Punch" perms.purview.name="openoa:Punch">
				<item id="Punch_menu" title="打卡签到" controller="org.opencomb.openoa.Attendance.Punch" />
				<item id="Add_menu" title="考勤补录" controller="org.opencomb.openoa.Attendance.Add" />
				<item id="Detail_menu" title="考勤报表" controller="org.opencomb.openoa.Attendance.Detail" />
				<item id="Setting_menu" title="基本考勤设置" controller="org.opencomb.openoa.Attendance.Setting" />
				<item id="Holidays_menu" title="节假日设置" controller="org.opencomb.openoa.Attendance.Holidays" />
				<item id="Overtime_menu" title="加班规则" controller="org.opencomb.openoa.Attendance.Overtime" />
			</item>
			<item id="inde4w44x" title="审批流转" link="?c=org.opencomb.openoa.process.Record" perms.purview.name="openoa:Record">
				<item id="Record_menu" title="功能申请" controller="org.opencomb.openoa.process.Record" >
					<query bean.type="string">c=org.opencomb.openoa.process.CreateRecord</query>
				</item>
				<item id="MyRecord_menu" title="我的申请" controller="org.opencomb.openoa.process.MyRecord" >
					<query bean.type="string">c=org.opencomb.openoa.process.DetailsRecord</query>
				</item>
				<item id="MyApproval_menu" title="待我审核" controller="org.opencomb.openoa.process.MyApproval" />
			</item>
			</widget>
		</div>
		<div class="oa_right">
			<views />
		</div>
		<div class="clr"></div>
	</div>
	<!--footer-->
	<div class="oa_footer">
		<p>&copy; 2012 OpenComb. cando Inc. All Rights Reserved</p>
	</div>
</div>
