<css src="openoa:css/base.css" />
<css src="openoa:css/watertable.css" />
<lib name='jquery'/>
<div class="w_all">

<!--top-->
	<div class="w_head">
		<div class="w_head_top">
			<div class="w_head_topmenu">
				<ul>
					<li><a href="#">人事管理</a></li>
					<li><a href="#">项目管理</a></li>
					<li><a href="#">个人办公</a></li>
					<li><a href="?c=org.opencomb.openoa.Attendance.Punch">考勤管理</a></li>
					<li><a href="#">审批流转</a></li>
					<li><a href="#">收发公文</a></li>
				</ul>
			</div>
			<!--div class="w_head_opencomb">
				<a href="#" class="frontframe-logo"></a>
			</div-->
			<div class="w_head_user">
				<if "$aId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
					<strong>Hi,</strong>
					<span class="ico_head_user">
						<select onchange="window.location.href='?c=org.opencomb.coresystem.user.SwichId&uid=' + this.options[this.selectedOption].value">
							<foreach for="\org\jecat\framework\auth\IdManager::singleton()->iterator()" item='aId'>
							<option value="{=$aId->userId()}"{= $aId===$aCurrentId? ' selected': ''}>{=$aId->displayName()}</option>
							</foreach>
						</select>
					</span>
					<if "\org\opencomb\coresystem\auth\PurviewQuery::singleton()->hasPurview($aId,\org\opencomb\coresystem\auth\Id::PLATFORM_ADMIN,'coresystem')">
						<span class="ico_head_setup">
							<a href="?c=control.panel">控制面板</a>
						</span>
					</if>
					<span class="ico_head_out"><a href="?c=logout">退出</a></span>
				<else />
					<span class="ico_head_login"><a href="?c=login">登录</a></span>
				</if>
			</div>	
		</div>
		<!--div class="w_head_logo"></div>
		<div class="w_head_menu">
			<widget id="mainMenu" type='menu' attr.showDepths="1">
			<item id="index" title="人事管理" controller="org.opencomb.openoa.index.Index" perms.purview.name="openoa:JingLi">
				<item id="4444" title="财务月报" link="?c=org.opencomb.openoa.output.BaoGao" />
			</item>
			<item id="inde44x" title="项目管理" link="?c=org.opencomb.openoa.output.BaoGao" perms.purview.name="openoa:CaiWu">
				<item id="YongYou_menu" title="用友(C/S软件)" controller="org.opencomb.openoa.shell.WaterShell&programName=portal&title=用友" />
			</item>
			<item id="inde4114x" title="个人办公" link="?c=org.opencomb.openoa.Dispatch.LargeUsers" perms.purview.name="openoa:DiaoDu">
				<item id="DiaoDuXiTong_menu" title="调度系统(B/S软件)" controller="org.opencomb.openoa.shell.WaterShell&programName=dlsong&title=调度系统" />
			</item>
			<item id="inde344x" title="考勤管理" link="?c=org.opencomb.openoa.Attendance.Punch" perms.purview.name="openoa:Punch">
				<item id="Statistics_menu" title="打卡签到" controller="org.opencomb.openoa.Attendance.Punch" />
			</item>
			<item id="inde4w44x" title="审批流转" link="?c=org.opencomb.openoa.Business.ResidentWaterStatistics" perms.purview.name="PLATFORM_ADMIN">
				<item id="YingYeZongHeGuanLiXiTong_menu" title="营业综合管理系统C/S软件" controller="org.opencomb.openoa.shell.WaterShell&programName=water_1213&title=营业综合管理系统" />
			</item>
			<item id="inde4w44x3" title="收发公文" link="?c=org.opencomb.openoa.Business.ResidentWaterStatistics" perms.purview.name="PLATFORM_ADMIN">
				<item id="YingYeZongHeGuanLiXiTong_menu" title="营业综合管理系统C/S软件" controller="org.opencomb.openoa.shell.WaterShell&programName=water_1213&title=营业综合管理系统" />
			</item>
			</widget>
		</div-->
	</div>
<!--topend-->
<div class="w_body">
<!--left-->
<div class="w_leftall" >
	<div class="w_left">
		<!-- <div class="w_left_onbutton"></div> -->
		<a href="javascript:;" onclick="w_left_offbutton()" id="w_left_button" class="w_left_offbutton">&nbsp;</a>
		<widget id="mainMenu" type='menu' attr.depth="1" attr.showDepths="2" />
		<div style="clear:both"></div>
	</div>
</div>
<!--leftend-->
<!--right-->
	<div class="w_right">
		<views />
	</div>
<!--rightend--->
<!--footer-->
	<div class="clr"></div>
	<div class="w_footer">
		<p>大连开发区自来水公司 &copy; 版权所有 2012</p>
		<p>Water company of dalian economic and technological development zone All Rights Reserved.</p>
	</div>
<!--footerend-->
</div>
</div>


<script>
/**
 * 收缩按钮
 */
function w_left_offbutton(){
	
	//侧边状态
	var w_left_width = jQuery(".w_left").width();
	if(w_left_width > 0){
		jQuery("body").addClass("bodynobg");
		
		jQuery(".w_left").animate({width: '0px'}, "slow",function(){
		});
		
		//按钮缩小（需要增加滚动条然偏移量）
		var leftScroll = parseInt( jQuery(window).scrollLeft() );
		jQuery("#w_left_button").animate({left: '-'+leftScroll+'px'}, "slow" ,function(){
			//自定义事件
			jQuery(".w_left").trigger('afterSlideIn');
			jQuery("#w_left_button").removeClass("w_left_offbutton");
			jQuery("#w_left_button").addClass("w_left_onbutton");
		});
	}else{
		jQuery(".w_left").animate({width: '205px'}, "slow",function(){
			jQuery("body").removeClass("bodynobg");
		});
		jQuery("#w_left_button").animate({left: '216px'}, "slow" , function(){
			jQuery(".w_left").trigger('afterSlideOut');
			jQuery("#w_left_button").addClass("w_left_offbutton");
			jQuery("#w_left_button").removeClass("w_left_onbutton");
		});
	}
}


/**
 * 滚动事件
 */
function auto_W_left_offbutton ()
{
	//侧边状态
	var w_left_width = jQuery(".w_left").width();
	if(w_left_width > 0){
		var divLeft = 216;
	}else{
		var divLeft = 0;
	}
	var leftScroll = parseInt( jQuery(window).scrollLeft() );
	var divLeft_now = parseInt( jQuery("#w_left_button").css("left") );
	if(divLeft_now != divLeft - leftScroll){
		jQuery("#w_left_button").css("left",divLeft - leftScroll);
	}
}

jquery(function(){
	jquery('.namecard_simple_card_id_select').change(function(){
		window.location.href='?c=org.opencomb.coresystem.user.SwichId&uid=' + jquery(this).val();
	});

	auto_W_left_offbutton();
	jQuery(window).scroll(auto_W_left_offbutton);
	
	var w_bodyH = jQuery(".w_body").height();
	jQuery(".w_left").height(w_bodyH);
	
});
</script>