<lib name="jquery"/>
<div id="AddEmployee">
	<h1>新增员工</h1>
	<msgqueue/>
	<form method="post">
		<table id="AddEmployee_table">
			<thead>
				<tr>
					<th>员工工号:</th>
					<td><widget id="eid" type="text" /></td>
				</tr>
				<tr>
					<th>员工姓名:</th>
					<td><widget id="name" type="text" /></td>
				</tr>
				<tr>
					<th>职务:</th>
					<td>
						<select name="position_select">
							<foreach for="$aPositionModel" item='aPos'>
								<option value="{=$aPos['pid']}" size='10px'>{=$aPos['name']}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<th>性别:</th>
					<td>				
						<input type='radio' name='sex' value='1' checked/>男
						<input type='radio' name='sex' value='2'/>女
					</td>
				</tr>
				<tr>
					<th >出生年月:</th>
					<td>
						<select name="birthday_y" id="birthday_y" style="width: 60px;"></select>年
						<select name="birthday_m" id="birthday_m" style="width: 60px;"></select>月
						<select name="birthday_d" id="birthday_d" style="width: 60px;"></select>日
					</td>
				</tr>
				<tr>
					<th>面貌:</th>
					<td><widget id="policital" type="text" /></td>
				</tr>
				<tr>
					<th>工作时间:</th>
					<td><widget id="worktime" type="text" /></td>
				</tr>
				<tr>
					<th>技术职称:</th>
					<td><widget id="protitle" type="text" /></td>
				</tr>
				<tr>
					<th>学历:</th>
					<td><widget id="education" type="text" /></td>
				</tr>
				<tr>
					<th>毕业时间:</th>
					<td>
						<select name="graduation_y" id="graduation_y" style="width: 60px;"></select>年
						<select name="graduation_m" id="graduation_m" style="width: 60px;"></select>月
						<select name="graduation_d" id="graduation_d" style="width: 60px;"></select>日
					</td>
				</tr>
				<tr>
					<th>毕业学校:</th>
					<td><widget id="school" type="text" /></td>
				</tr>
				<tr>
					<th>所学专业:</th>
					<td><widget id="major" type="text" /></td>
				</tr>
				<tr>
					<th>入厂时间:</th>
					<td>
						<select name="factory_y" id="factory_y" style="width: 60px;"></select>年
						<select name="factory_m" id="factory_m" style="width: 60px;"></select>月
						<select name="factory_d" id="factory_d" style="width: 60px;"></select>日
					</td>
				</tr>
				<tr>
					<th>所在部门:</th>
					<td>
						<select name="department_select">
							<foreach for="$aDepatmentModel" item='aDep'>
								<option value="{=$aDep['gid']}" size='10px'>{=$aDep['name']}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<th>手机:</th>
					<td><widget id="tel" type="text" /></td>
				</tr>
				<tr>
					<th>座机/分机:</th>
					<td><widget id="phone" type="text" /></td>
				</tr>
				<tr>
					<th>状态:</th>
					<td>
						<select name="status">
							<option value="1" size='10px'>在职</option>
							<option value="2" size='10px'>离职</option>
						</select>
					</td>
				</tr>
			</thead>
		</table>
		<div>
			<input type="submit" value="保存" />
			<input type="submit" value="取消"/>
		</div>
	</form>
	<script>
		jquery(function($){
		var arrName = new Array('birthday', 'graduation', 'factory');
		//arrName = {'birthday', 'graduation', 'factory'};
		var today = new Date();
		var toyear = today.getYear() + 1900;
		var tomonth = today.getMonth(); //看上个月的
		
		function changeDateB(){
			var year = $('#birthday_y').val();
			var month = $('#birthday_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#birthday_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#birthday_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
			
		}
		
		function changeDateG(){
			var year = $('#graduation_y').val();
			var month = $('#graduation_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#graduation_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#graduation_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		
		function changeDateF(){
			var year = $('#factory_y').val();
			var month = $('#factory_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#factory_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#factory_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			for(var nYear=1900 ;nYear<=toyear; nYear++){
				//console.log('#'+arrName[key]+'_y');
				//console.log("{=$arrY['birthday']}");
				$('#'+arrName[key]+'_y').prepend(
					'	<option value="'+nYear+'">'+nYear+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			for(var nMonth=12 ;nMonth>=1; nMonth--){
				$('#'+arrName[key]+'_m').prepend(
					'	<option value="'+nMonth+'">'+nMonth+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			//console.log(arrName[key]);
			for(var nDay=31 ;nDay>=1; nDay--){
				$('#'+arrName[key]+'_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		\d{4}\b-\d{1,2}\b-\d{1,2}

		$('#birthday_y').val(toyear).change( changeDateB);
		$('#birthday_m').val(tomonth).change( changeDateB );
		
		$('#graduation_y').val(toyear).change( changeDateG );
		$('#graduation_m').val(tomonth).change( changeDateG );
		
		$('#factory_y').val(toyear).change( changeDateF );
		$('#factory_m').val(tomonth).change( changeDateF );
		
	})	
	</script>
</div>