<lib name="jquery"/>
<lib name="jquery.ui"/>
<div id="AddEmployee">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			新增员工
		</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left_back">
				<a href="?c=org.opencomb.openoa.PersonnelManagement.Employee.EmployeeManagement" class="oa_button_right">返回员工管理</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
	<form method="post">
		<div id="AddEmployee_table" class="oa_table_form">
				<h1>员工工号</h1>
				<widget id="eid" type="text" class="text" />
				<h1>员工姓名</h1>
				<widget id="name" type="text" class="text" />
				<h1>职务</h1>
				<select name="position_select">
					<foreach for="$aPositionModel" item='aPos'>
						<option value="{=$aPos['pid']}" size='10px'>{=$aPos['name']}</option>
					</foreach>
				</select>
				<h1>性别</h1>
				<input type='radio' name='sex' value='1' checked/> 男
				<input type='radio' name='sex' value='2'/> 女
				<h1>出生年月</h1>
				<select name="birthday_y" id="birthday_y"></select>
				<select name="birthday_m" id="birthday_m"></select>
				<select name="birthday_d" id="birthday_d"></select>
				<h1>面貌</h1>
				<widget id="policital" type="text" class="text" />
				<h1>工作时间</h1>
				<widget id="worktime" type="text" class="text" />
				<h1>技术职称</h1>
				<widget id="protitle" type="text" class="text" />
				<h1>学历</h1>
				<widget id="education" type="text" class="text" />
				<h1>毕业时间</h1>
				<select name="graduation_y" id="graduation_y" ></select>
				<select name="graduation_m" id="graduation_m" ></select>
				<select name="graduation_d" id="graduation_d" ></select>
				<h1>毕业学校</h1>
				<widget id="school" type="text" class="text" />
				<h1>所学专业</h1>
				<widget id="major" type="text" class="text" />
				<h1>入厂时间</h1>
				<select name="factory_y" id="factory_y"></select>
				<select name="factory_m" id="factory_m"></select>
				<select name="factory_d" id="factory_d"></select>
				<h1>所在部门</h1>
				<select name="department_select">
					<foreach for="$aDepatmentModel" item='aDep'>
						<option value="{=$aDep['gid']}" size='10px'>{=$aDep['name']}</option>
					</foreach>
				</select>
				<h1>手机</h1>
				<widget id="tel" type="text" class="text" />
				<h1>座机/分机</h1>
				<widget id="phone" type="text" class="text" />
				<h1>状态</h1>
				<select name="status">
					<option value="1" size='10px'>在职</option>
					<option value="2" size='10px'>离职</option>
				</select>
				
				<div class="oa_table_form_info">
				<p>
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>

	<script>
		jquery(function($){
		var arrName = new Array('birthday', 'graduation', 'factory');
		//arrName = {'birthday', 'graduation', 'factory'};
		var today = new Date();
		var toyear = today.getYear() + 1900;
		var tomonth = today.getMonth(); //看上个月的
		
		function changeDateB(){
			var year = $('#birthday_y').val();
			var month = $('#birthday_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#birthday_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#birthday_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
			
		}
		
		function changeDateG(){
			var year = $('#graduation_y').val();
			var month = $('#graduation_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#graduation_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#graduation_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		
		function changeDateF(){
			var year = $('#factory_y').val();
			var month = $('#factory_m').val();
			var time = new Date(year,month,0);
			var day = time.getDate();
			
			$('#factory_d').empty();
			
			for(var nDay=day ;nDay>=1; nDay--){
				$('#factory_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			for(var nYear=1900 ;nYear<=toyear; nYear++){
				//console.log('#'+arrName[key]+'_y');
				//console.log("{=$arrY['birthday']}");
				$('#'+arrName[key]+'_y').prepend(
					'	<option value="'+nYear+'">'+nYear+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			for(var nMonth=12 ;nMonth>=1; nMonth--){
				$('#'+arrName[key]+'_m').prepend(
					'	<option value="'+nMonth+'">'+nMonth+'</option>'		
				);
			}
		}
		
		for(key in arrName)
		{
			//console.log(arrName[key]);
			for(var nDay=31 ;nDay>=1; nDay--){
				$('#'+arrName[key]+'_d').prepend(
					'	<option value="'+nDay+'">'+nDay+'</option>'		
				);
			}
		}
		

		$('#birthday_y').val(toyear).change( changeDateB);
		$('#birthday_m').val(tomonth).change( changeDateB );
		
		$('#graduation_y').val(toyear).change( changeDateG );
		$('#graduation_m').val(tomonth).change( changeDateG );
		
		$('#factory_y').val(toyear).change( changeDateF );
		$('#factory_m').val(tomonth).change( changeDateF );
		
	})
	
	//设置日期插件配置
	var dateOption = {
			dateFormat:'yy-mm-dd'
				,changeYear:true
				,changeMonth:true
				,monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
				,monthNamesShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
				,dayNames:['周日','周一','周二','周三','周四','周五','周六']
				,dayNamesMin:['周日','周一','周二','周三','周四','周五','周六']
				,dayNamesShort:['周日','周一','周二','周三','周四','周五','周六']
				,yearRange:'1940:2020'
				,showOn:'both'
				,duration:'slow'
				//,buttonText:'日期'
				,buttonImage:'' 		//填写图片路径
				,buttonImageOnly:true
				,appendText:'(yyyy-mm-dd)'
		};
		
	//使用日期插件	
	jquery('#birthday').datepicker(dateOption);
	jquery('#graduation_time').datepicker(dateOption);
	jquery('#factory_time').datepicker(dateOption);
	</script>
</div>