<lib name="jquery"/>
<lib name="jquery.ui" />
<script type="text/javascript" src="JS/jquery-ui-1.7.3/ui/jquery-ui-1.7.3.custom.js"></script>  
<script type="text/javascript" src="JS/jquery-ui-1.7.3/ui/ui.datepicker.js"></script>  
<script type="text/javascript" src="JS/jquery-ui-timepicker-addon.js"></script>  
<link type="text/css" href="CSS/jquery-ui-1.7.3/redmond/jquery-ui-1.7.3.custom.css" rel="stylesheet" />  
<div id="EditEmployee">
	<h1>编辑</h1>
	<msgqueue/>
	<form method="post">
		<table id="EditEmployee_table">
			<thead>
				<tr>
					<th>员工工号:</th>
					<td><widget id="e_id" type="text" /></td>
				</tr>
				<tr>
					<th>员工姓名:</th>
					<td><widget id="e_name" type="text" /></td>
				</tr>
				<tr>
					<th>职务:</th>
					<td>
						<select name="position_select">
							<foreach for="$aPositionModel" item='aPos'>
								<option value="{=$aPos['pid']}" size='10px' {=$sPosition==$aPos['pid'] ?'selected':'' }>{=$aPos['name']}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<th>性别:</th>
					<td>				
						<input type='radio' name='sex' value='1' {=$sSex==1 ?'checked' :''}/>男
						<input type='radio' name='sex' value='2' {=$sSex==2 ?'checked' :''}/>女
					</td>
				</tr>
				<tr>
					<th >出生年月:</th>
					<td>
						<input type="text" id="birthday" value="{=$sBirthday}"/>
					</td>
				</tr>
				<tr>
					<th>面貌:</th>
					<td><widget id="policital" type="text" /></td>
				</tr>
				<tr>
					<th>工作时间:</th>
					<td><widget id="worktime" type="text" /></td>
				</tr>
				<tr>
					<th>技术职称:</th>
					<td><widget id="protitle" type="text" /></td>
				</tr>
				<tr>
					<th>学历:</th>
					<td><widget id="education" type="text" /></td>
				</tr>
				<tr>
					<th>毕业时间:</th>
					<td>
						<input type="text" id="graduation_time" value="{=$sGraduationTime}"/>
					</td>
				</tr>
				<tr>
					<th>毕业学校:</th>
					<td><widget id="school" type="text" /></td>
				</tr>
				<tr>
					<th>所学专业:</th>
					<td><widget id="major" type="text" /></td>
				</tr>
				<tr>
					<th>入厂时间:</th>
					<td>
						<input type="text" id="factory_time" value={=$sFactoryTime}/>
					</td>
				</tr>
				<tr>
					<th>所在部门:</th>
					<td>
						<select name="department_select">
							<foreach for="$aDepatmentModel" item='aDep'>
								<option value="{=$aDep['gid']}" size='10px' {=$sDepartment == $aDep['gid'] ?'selected':''}>{=$aDep['name']}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<th>手机:</th>
					<td><widget id="tel" type="text" /></td>
				</tr>
				<tr>
					<th>座机/分机:</th>
					<td><widget id="phone" type="text" /></td>
				</tr>
				<tr>
					<th>状态:</th>
					<td>
						<select name="status">
							<option value="1" size='10px' {=$sStatus ==1 ?'selected':''}>在职</option>
							<option value="2" size='10px' {=$sStatus ==1 ?'selected':''}>离职</option>
						</select>
					</td>
				</tr>
			</thead>
		</table>
		<div>
			<widget id="hide_eid" />
			<input type="submit" value="保存" />
			<input type="submit" value="取消"/>
		</div>
	</form>
 
	<script type="text/javascript">
		jquery('form').submit(function(){
			var birthday_y = jquery("#birthday_y").val();
			var graduation_y = jquery("#graduation_y").val();
			var factory_y = jquery("#factory_y").val();
			
			var birthday_m = jquery("#birthday_m").val();
			var graduation_m = jquery("#graduation_m").val();
			var factory_m = jquery("#factory_m").val();
			
			var birthday_d = jquery("#birthday_d").val();
			var graduation_d = jquery("#graduation_d").val();
			var factory_d = jquery("#factory_d").val();
			
			//yyyy-mm-dd判断
			//var result=str.match(/^(\d{4})(-|\/)(\d{1,2})\2(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/);
			var result_f_y = factory_y.match(/^(\d{4})$/);
			var t_y = /^[0,1]{0,1}\d{1}$/;
			var t_m = /^[0,1]{0,1}\d{1}$/;
			var t_d = /^\d{1,2}$/;
			
			var factory_b = false;
			var graduation_b = false;
			var birthday_b = false;

			
			if(t_y.test(factory_y) && t_m.test(factory_m) && t_d.test(factory_d))
			{
				factory_b = true;
			};
			
			if(t_y.test(birthday_y) && t_m.test(birthday_m) && t_d.test(birthday_d))
			{
				birthday_b = true;
			};		
			
			if(t_y.test(graduation_y) && t_m.test(graduation_m) && t_d.test(graduation_d))
			{
				graduation_b = true;
			}
			
			if(birthday_b && graduation_b && factory_b)
			{
				return true;	
			}else{
				alert(输入数据格式有错误);
				return false;
			}
		})
		
		//设置日期插件配置
		var dateOption = {
				dateFormat:'yy-mm-dd'
					,changeYear:true
					,changeMonth:true
					,monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
					,monthNamesShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
					,dayNames:['周日','周一','周二','周三','周四','周五','周六']
					,dayNamesMin:['周日','周一','周二','周三','周四','周五','周六']
					,dayNamesShort:['周日','周一','周二','周三','周四','周五','周六']
					,yearRange:'1940:2020'
					,showOn:'both'
					,duration:'slow'
					//,buttonText:'日期'
					,buttonImage:'' 		//填写图片路径
					,buttonImageOnly:true
					,appendText:'(yyyy-mm-dd)'
			};
		
		//使用日期插件
		jquery('#birthday').datepicker(dateOption);
		jquery('#graduation_time').datepicker(dateOption);
		jquery('#factory_time').datepicker(dateOption);
		
		function ss (){
			this._mvcstruct = null;
			this.parentObject = null;
			this.asc = {};
			this.selectType = "";
			this.maxTextLength = 20;
			
			//this.allowSelectClass = '{=$sAllowSelectClass}';
		}
		var structBrowser = new ss();
		console.log(structBrowser);
	</script> 
</div>