<div id="EmployeeManagement">
	<h1>员工管理</h1>
	<a href="?c=org.opencomb.openoa.PersonnelManagement.Employee.AddEmployee">新增员工</a>
	<form method='post'>
		<input type="text" name="searchkey"/>
		<input type='radio' name="searchtype" value="eid" checked="true"/>员工工号
		<input type='radio' name="searchtype" value="name"/>员工姓名
		<input type='submit' value='搜索'/>
	</form>
	<table id="EmployeeManagement_table" border="1">
		<thead>
			<tr>
				<th>员工工号</th>
				<th>姓名</th>
				<th>职务</th>
				<th>性别</th>
				<th>出生年月</th>
				<th>面貌</th>
				<th>工作时间</th>
				<th>技术职称</th>
				<th>学历</th>
				<th>毕业时间</th>
				<th>毕业学校</th>
				<th>所学专业</th>
				<th>入厂时间</th>
				<th>部门</th>
				<th>手机</th>
				<th>座机</th>
				<th>状态</th>
				<th colspan="2">操作</th>
			</tr>
			<foreach for="$aEmployeeModel" item="aEmp">
				<tr>
					<td>{=$aEmp["eid"]}</td>
					<td>{=$aEmp["user.username"]}</td>
					<td>{=$aEmp["position.name"]}</td>
					<td>
						<if "{=$aEmp["sex"]}==1">
							男
							<else/>
							女
						</if>
					</td>
					<td>{=$aEmp["userinfo.birthday"]}</td>
					<td>{=$aEmp["policital"]}</td>
					<td>{=$aEmp["worktime"]}</td>
					<td>{=$aEmp["protitle"]}</td>
					<td>{=$aEmp["education"]}</td>
					<td>{=$aEmp["graduationtime"]}</td>
					<td>{=$aEmp["school"]}</td>
					<td>{=$aEmp["major"]}</td>
					<td>{=$aEmp["factorytime"]}</td>
					<td>{=$aEmp["group.name"]}</td>
					<td>{=$aEmp["userinfo.tel"]}</td>
					<td>{=$aEmp["phone"]}</td>
					<td>
						<if "{=$aEmp["status"]}==1">
							在职
							<else/>
							离职
						</if>
					</td>
					<td><a href="?c=org.opencomb.openoa.PersonnelManagement.Employee.EditEmployee&eid={=$aEmp["uid"]}&name={=$aEmp["user.username"]}">编辑</a></td>
					<td><a href="?c=org.opencomb.openoa.PersonnelManagement.Employee.DeleteEmployee&eid={=$aEmp["uid"]}">删除</a></td>
				</tr>
			</foreach>
		</thead>
	</table>
</div>