	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			考勤报表
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
	<div class="oa_time_input">
		<form id="form1" name="form1" method="post" action="">
  姓名 <select name="uid" id="uid">
      <option value="0">请选择</option>
	  <foreach for='$users' item="user">
      <option value="{=$user['uid']}">{=$user['name']}</option>
	  </foreach>
    </select>&nbsp;&nbsp;
  工号 <input name="eid" type="text" id="eid" size="5" />
&nbsp;&nbsp;日期  
 <select name="y" id="y" >
      		<option value="0">不限</option>
   <foreach for='$dateY' item='row'>
         <if "$row == date('Y')">
           <option value="{=$row}" selected="selected">{=$row}</option>
           <else/>
           <option value="{=$row}">{=$row}</option>
         </if>
   </foreach>
 </select>
 <select name="m" id="m" >
      	<option value="0">不限</option>
   <foreach for='$dateM' item='row'>
         <if "$row == date('m')">
           <option value="{=$row}" selected="selected">{=$row}</option>
           <else/>
           <option value="{=$row}">{=$row}</option>
         </if>
   </foreach>
 </select>
 <select name="d" id="d" >
      <option value="0">不限</option>
   <foreach for='$dateD' item='row'>
       <option value="{=$row}">{=$row}</option>
   </foreach>
 </select>
 
&nbsp;&nbsp;分类  
 <select name="sort" id="sort">
   <option value="0">请选择</option>
   <option value="1">事假</option>
   <option value="2">病假</option>
   <option value="3">婚假</option>
   <option value="4">产假</option>
   <option value="5">探亲假</option>
   <option value="6">丧假</option>
   <option value="7">年假</option>
   <option value="8">出差</option>
   <option value="9">外出</option>
   <option value="10">调休</option>
   <option value="11">旷工</option>
   <option value="12">加班</option>
 </select>
 <input type="submit" name="Submit" value="查询" class="oa_form_button" />
</form>
</div>
<h6><strong>考勤总计</strong></h6>
		<table>
			<thead>
				<tr>
					<th>姓名</th>
					<th>工号</th>
					<th>事假</th>
					<th>病假</th>
					<th>婚假</th>
					<th>产假</th>
					<th>探亲假</th>
					<th>丧假</th>
					<th>年假</th>
					<th>出差</th>
					<th>外出</th>
					<th>调休</th>
					<th>旷工</th>
					<th>加班</th>
					<th>出勤</th>
					<th>迟到</th>
					<th>早退</th>
				</tr>
			</thead>
			<tbody>
			<foreach for='$data2' item="aData">
					  <tr>
						<td>{=@$aData['name']}</td>
						<td>{=@$aData['eid']}</td>
						<td>{=@$aData['1']}</td>
						<td>{=@$aData['2']}</td>
						<td>{=@$aData['3']}</td>
						<td>{=@$aData['4']}</td>
						<td>{=@$aData['5']}</td>
						<td>{=@$aData['6']}</td>
						<td>{=@$aData['7']}</td>
						<td>{=@$aData['8']}</td>
						<td>{=@$aData['9']}</td>
						<td>{=@$aData['10']}</td>
						<td>{=@$aData['11']}</td>
						<td>{=@$aData['12']}</td>
						<td>{=@$aData['13']}</td>
						<td>{=@$aData['14']}</td>
						<td>{=@$aData['15']}</td>
					  </tr>
			</foreach>
			</tbody>
		</table>
<h6><strong>考勤详细</strong></h6>
		<table>
			<thead>
				<tr>
					<th>姓名</th>
					<th>工号</th>
					<th>日期</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>时长（小时）</th>
					<th>分类</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<foreach for='$data' item="aData">
				<tr>
				  <td>{=$aData['userinfo.name']}</td>
				  <td>{=$aData['userinfo.eid']}</td>
				  <td>{=$aData['date']}</td>
				  <td>{=$aData['am']}{=org\opencomb\openoa\Attendance\Tools::getLateStr($aData,'am')}</td>
				  <td>{=$aData['pm']}{=org\opencomb\openoa\Attendance\Tools::getLateStr($aData,'pm')}</td>
				  <td>{=$theController->sumDate($aData['am'],$aData['pm'])}</td>
				  <td>{=org\opencomb\openoa\Attendance\Tools::getSotrStr($aData['sort'])}</td>
				  <td>{=$aData['explain']}</td>
				</tr>
				</foreach>
			</tbody>
		</table>
	</div>