	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			节假日设置
		</div>
		<div class="oa_tablehead_button">
		</div>
	</div>
	<div class="oa_table">
		<form id="form1" name="form1" method="post" action="">
		<div class="oa_table_form">
				<h1>休息日</h1>
				 <select name="Holidays" id="Holidays">
					<option value="67" {=$Holidays=='67'?'selected="selected"':''}>周六日</option>
					<option value="7" {=$Holidays=='7'?'selected="selected"':''}>周日</option>
					<option value="0" {=$Holidays=='0'?'selected="selected"':''}>无休</option>
				</select>
				<div class="oa_table_form_info">
				<p>
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>