<lib name='jquery'/>
<lib name="jquery.ui"/>
<div id="AddContract">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			新建合同
		</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left_back">
				<a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.ContractManagement" class="oa_button_right">返回人事合同管理</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
	<form method="post">
		<div id="AddContract_table" class="oa_table_form">
				<h1>合同编号</h1>
				<widget id="cid" class="text" />
				<h1>单位员工</h1>
				<a id="selectuser" href="javascript:;" onClick="selectEmployee()"><input type="text" id="selectid" readonly="readonly" style="background-color:white" value="{=$sUserName}"  class="text" /></a>
				<h1>开始日期</h1>
				<widget id="starttime" class="text" />
				<h1>结束日期</h1>
				<widget id="endtime" class="text" />
				<div class="oa_table_form_info">
				<p>
					<input type="hidden" name="hide_uid" id="hide_uid" value="{=$sUid}"/>
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>
</div>
<script>
	function selectEmployee(){
		var uid = showModalDialog("?c=org.opencomb.openoa.PersonnelManagement.Contract.EmployeeManagement", window);
		if (uid == undefined) {
			var arrValue = window.returnValue.split('.');
			jquery('#selectid').attr("value",arrValue[1]);
			jquery('#hide_uid').attr("value",arrValue[0]);
	    }
	};
	
	jQuery('form').submit(function(){
		var starttime = jquery("#starttime").val();
		var endtime = jquery("#endtime").val();
		var remindtime = jquery("#remindtime").val();
		
		var t_y = /^(\d{4})(-|\/)(\d{1,2})\2(\d{1,2})$/;
		var time_b = false;

		if(t_y.test(starttime) && t_m.test(endtime) && t_d.test(remindtime))
		{
			time_b = true;
		};

		
		if(time_b)
		{
			return true;	
		}else{
			alert('输入数据格式有错误(例如日期为：1970-02-11)');
			return false;
		}
	})
	
	//设置日期插件配置
	var dateOption = {
		dateFormat:'yy-mm-dd'
			,changeYear:true
			,changeMonth:true
			,monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
			,monthNamesShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
			,dayNames:['周日','周一','周二','周三','周四','周五','周六']
			,dayNamesMin:['周日','周一','周二','周三','周四','周五','周六']
			,dayNamesShort:['周日','周一','周二','周三','周四','周五','周六']
			,yearRange:'1940:2020'
			,showOn:'both'
			,duration:'slow'
			//,buttonText:'日期'
			,buttonImage:'' 		//填写图片路径
			,buttonImageOnly:true
			,appendText:'(yyyy-mm-dd)'
	};
	
	//使用日期插件
	jquery('#starttime').datepicker(dateOption);
	jquery('#endtime').datepicker(dateOption);
</script>