<div id="EmployeeManagement">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">合同管理</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left">
				<a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.AddContract" class="oa_button_right">新建合同</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
		<table id="EmployeeManagement_table">
			<thead>
				<tr>
					<th>合同编号</th>
					<th>员工姓名</th>
					<th>开始日期</th>
					<th>结束日期</th>
					<th>到期提醒</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach for="$aContractModel" item="aCon">
					<if "$aCon['endtime']>=$sNow">
						<if "$aCon['remindtime']<=$sNow">
							<tr class="oa_contract_expire">
								<td>{=$aCon['cid']}</td>
								<td>{=$aCon['user.username']}</td>
								<td>{=date('Y-m-d',$aCon['starttime'])}</td>
								<td>{=date('Y-m-d',$aCon['endtime'])}</td>
								<td class="oa_contract_expire_day">{=($aCon['endtime']-$aCon['remindtime'])/3600/24}<span>天</span></td>
								<td><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.EditContract&id={=$aCon['id']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.DeleteContract&id={=$aCon['id']}" class="oa_button_del" title="删除"></a></td>
							</tr>
							<else/>
							<tr>
								<td>{=$aCon['cid']}</td>
								<td>{=$aCon['user.username']}</td>
								<td>{=date('Y-m-d',$aCon['starttime'])}</td>
								<td>{=date('Y-m-d',$aCon['endtime'])}</td>
								<td></td>
								<td><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.EditContract&id={=$aCon['id']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.DeleteContract&id={=$aCon['id']}" class="oa_button_del" title="删除"></a></td>
							</tr>
						</if>
						<else/>
						<tr>
							<td>{=$aCon['cid']}</td>
							<td>{=$aCon['user.username']}</td>
							<td>{=date('Y-m-d',$aCon['starttime'])}</td>
							<td>{=date('Y-m-d',$aCon['endtime'])}</td>
							<td></td>
							<td><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.EditContract&id={=$aCon['id']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.DeleteContract&id={=$aCon['id']}" class="oa_button_del" title="删除"></a></td>
						</tr>
					</if>
				</foreach>
			</tbody>
		</table>
		</div>
</div>