<div id="EditContract">
	<h1>新增员工</h1>
	<msgqueue/>
		<form method="post">
		<table id="EditContract_table" border="1">
			<thead>
				<tr>
					<th>合同编号:</th>
					<td><widget id="cid" /></td>
				</tr>
				<tr>
					<th>单位员工:</th>
					<th><widget id="name" /></th>
				</tr>
				<tr>
					<th>有效期始:</th>
					<th><widget id="starttime" /></th>
				</tr>
				<tr>
					<th>有效期止:</th>
					<th><widget id="endtime" /></th>
				</tr>
				<tr>
					<th>到期提醒时间:</th>
					<th><widget id="remindtime" /></th>
				</tr>
			</thead>
		</table>
		<widget id="hide_id"/>
		<input type="submit" value="提交" />
	</form>
</div>