<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

<div id="EmployeeManagement">
	<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				合同管理
			</div>
			<div class="oa_tablehead_button">
			</div>
		</div>
		<div class="oa_table">
			<table id="EmployeeManagement_table">
			<thead>
				<tr>
					<th>员工姓名</th>
					<th>性别</th>
					<th>所属部门</th>
					<th colspan="2">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach for="$aEmployeeModel" item="aEmp">
					<tr>
						<td>
							{=$aEmp['user.username']}
						</td>
						<td>
							{=$aEmp['sex']=='1' ?'男':'女'}
						</td>
						<td>
							{=$aEmp['group.name']}
						</td>
						<td>																									
							<a href="?c=org.opencomb.openoa.PersonnelManagement.Contract.AddContract&uid={=$aEmp['uid']}&username={=$aEmp['user.username']}&department={=$aEmp['group.name']}&gid={=$aEmp['group.gid']}" class="oa_button_contract">签订合同</a>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
		</div>
		
</div>