<lib name="jquery" />
<div id="ProjectTypeManagement">
		<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				项目类别管理
			</div>
			<div class="oa_tablehead_button">
				<div class="oa_button_left">
					<a href="?c=org.opencomb.openoa.ProjectManagement.Type.AddProjectType" class="oa_button_right">添加类别</a>
				</div>
			</div>
		</div>
		<div class="oa_table">
		<table id="PositionManagement_table">
			<thead>
				<tr>
					<th>类别</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach for="$aTypeModel" item="aType">
				<tr>
					<td>{=$aType["type"]}</td>
					<td><a href="?c=org.opencomb.openoa.ProjectManagement.Type.EditProjectType&pid={=$aType['pid']}&type={=$aType['type']}" class="oa_button_edit" title="编辑"></a><a href="?c=org.opencomb.openoa.ProjectManagement.Type.DeleteProjectType&pid={=$aType['pid']}" class="oa_button_del" title="删除"></a></td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<widget id="paginator" attr.nums="10" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="1" attr.showNext="1" />
		</div>
</div>