<lib name="jquery"/>
<lib name="jquery.ui" />
<div id="addProject">
	<div class="oa_tablehead">
		<div class="oa_tablehead_tilte">
			新建项目
		</div>
		<div class="oa_tablehead_button">
			<div class="oa_button_left_back">
				<a href="?c=org.opencomb.openoa.ProjectManagement.Management.ProjectManagement" class="oa_button_right">返回项目管理</a>
			</div>
		</div>
	</div>
	<div class="oa_table">
	<form method="post">
		<div class="oa_table_form">
				<h1>项目名称</h1>
				<widget id="name" class="text" />
				<h1>项目类别</h1>
				<select name="type">
					<foreach for="$aProjectType" item="aType">
						<option value="{=$aType['pid']}">{=$aType['type']}</option>
					</foreach>
				</select>
				<h1>项目开始时间</h1>
				<widget id="starttime" class="text" />
				<h1>项目结束时间</h1>
				<widget id="endtime" class="text" />
				<h1>项目描述</h1>
				<textarea id="content" name="content"></textarea>
				<h1>项目发布人</h1>
				{=$sCurrentUser}<input type='hidden' name="hide_publisher_id" id="hide_publisher_id" value="{=$sPublisher}" class="text"/>
				<h1>部门</h1>
				<select name="department_select">
					<foreach for="$aDepatmentModel" item='aDep'>
						<option value="{=$aDep['gid']}" size='10px' {=$sDepartment == $aDep['gid'] ?'selected':''}>{=$aDep['name']}</option>
					</foreach>
				</select>
				<h1>项目责任人</h1>
				<a id="selectuser" href="javascript:void(0)"><input type="text" id="selectid" readonly="readonly" class="text" value="{=$sUserName}"/></a>
				<h1>项目权限</h1>
				<input name="purview" type="radio" value='1'/>
				项目负责人
				<input name="purview" type="radio" value='2'/>
				所有人
				<h1>提醒接受人</h1>
				<input name="remind[]" type="checkbox" value="1"/>
				分配人
				<input name="remind[]" type="checkbox" value="2"/>
				责任人
				
				<div class="oa_table_form_info">
				<p>
					<input type="hidden" name="hide_uid" id="hide_uid" value="{=$sUid}"/>
					<input type="hidden" name="hide_assign_uid" id="hide_uid" value="{=$sAssignUid}"/>
					<input type="submit" value="保存" class="oa_button_save" />
					<input type="submit" value="取消" class="oa_button_cancel"/>
				</p>
				<msgqueue/>
				</div>
				<div class="clr"></div>
		</div>
		</form>
	</div>
</div>
<script>
	jQuery('#selectuser').click(
		
		function selectEmployee(){
			var uid = showModalDialog("?c=org.opencomb.openoa.PersonnelManagement.Contract.EmployeeManagement&rspn=noframe", window);
			if (uid == undefined) {
				if(window.returnValue){
					var arrValue = window.returnValue.split('.');
					jquery('#edit_selectid').attr("value",arrValue[1]);
					jquery('#hide_responsible_id').attr("value",arrValue[0]);
				}
		    }
		}		
	);
	
	//设置日期插件配置
	var dateOption = {
		dateFormat:'yy-mm-dd'
			,changeYear:true
			,changeMonth:true
			,monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
			,monthNamesShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
			,dayNames:['周日','周一','周二','周三','周四','周五','周六']
			,dayNamesMin:['周日','周一','周二','周三','周四','周五','周六']
			,dayNamesShort:['周日','周一','周二','周三','周四','周五','周六']
			,yearRange:'1940:2020'
			,showOn:'both'
			,duration:'slow'
			//,buttonText:'日期'
			,buttonImage:'' 		//填写图片路径
			,buttonImageOnly:true
			,appendText:'(yyyy-mm-dd)'
	};
	
	//使用日期插件
	jquery('#starttime').datepicker(dateOption);
	jquery('#endtime').datepicker(dateOption);
</script>