<lib name="jquery"/>
<div id="addProject">
	<h1>新建项目</h1>
	<form method="post">
		<table>
			<tr>
				<th>
					项目名称:
				</th>
				<td>
					<widget id="name"/>
				</td>
			</tr>
			<tr>
				<th>
					项目类别:
				</th>
				<td>
					<select name="type">
						<foreach for="$aProjectType" item="aType">
							<option value="{=$aType['pid']}">{=$aType['type']}</option>
						</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					项目开始时间:
				</th>
				<td>
					<widget id="starttime"/>
				</td>
			</tr>
			<tr>
				<th>
					项目结束时间:
				</th>
				<td>
					<widget id="endtime"/>
				</td>
			</tr>
			<tr>
				<th>
					项目描述:
				</th>
				<td>
					<textarea id="content" style="width:200px;height:200px"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<h2>项目人员设置</h2>
				</td>
			</tr>
			<tr>
				<th>
					 项目发布人
				</th>
				<td>
					{=$sCurrentUser}<input type='hidden' name="hide_publisher_id" id="hide_publisher_id" value="{=$sPublisher}"/>
				</td>
			</tr>
			<tr>
				<th>
					 部门
				</th>
				<td>
					<select name="department_select">
						<foreach for="$aDepatmentModel" item='aDep'>
							<option value="{=$aDep['gid']}" size='10px' {=$sDepartment == $aDep['gid'] ?'selected':''}>{=$aDep['name']}</option>
						</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					 项目责任人
				</th>
				<td>
					<input type="text" id="selectid" disabled="disabled" style="background-color:white" value="{=$sUserName}"/><a id="selectuser" href="javascript:void(0)">选择</a>
				</td>
			</tr>
			<tr>
				<th>
					 项目权限
				</th>
				<td>
					<input name="purview" type="radio" value='1'/>项目负责人
					<input name="purview" type="radio" value='1'/>所有人
				</td>
			</tr>
			<tr>
				<td>
					<h2>提醒设置</h2>
				</td>
			</tr>
			<tr>
				<th>
					 提醒接受人
				</th>
				<td>
					<input name="remind" type="checkbox"/>
					分配人
					<input name="remind" type="checkbox"/>
					责任人
				</td>
			</tr>
			<tr>
				<th>
					Test
				</th>
				<td>
					<input name="test1" id="test1" type="text" />
				</td>
			</tr>
		</table>
		<input type="hidden" name="hide_uid" id="hide_uid" value="{=$sUid}"/>
		<input type="hidden" name="hide_assign_uid" id="hide_uid" value="{=$sAssignUid}"/>
		<input type="submit" value="提交" />
	</form>
</div>
<script>
	jQuery('#selectuser').click(
		
		function selectEmployee(){
			var uid = window.showModalDialog("?c=org.opencomb.openoa.PersonnelManagement.Contract.EmployeeManagement",document);
			console.log(uid);
			if(uid!=null)
			{
				var arrValue = uid.split('.');
				jquery('#selectid').attr("value",arrValue[1]);
				jquery('#hide_uid').attr("value",arrValue[0]);
			}
		}		
	);
</script>