<lib name='jquery'/>
<div id="editProject">
	<h1>编辑项目</h1>
	<form method="post">
		<table>
			<tr>
				<th>
					项目名称:
				</th>
				<td>
					<widget id="eidt_name"/>
				</td>
			</tr>
			<tr>
				<th>
					项目类别:
				</th>
				<td>
					<select name="edit_type">
						<foreach for="$aProjectType" item="aType">
							<option value="{=$aType['pid']}">{=$aType['type']}</option>
						</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					项目开始时间:
				</th>
				<td>
					<widget id="edit_starttime"/>
				</td>
			</tr>
			<tr>
				<th>
					项目结束时间:
				</th>
				<td>
					<widget id="edit_endtime"/>
				</td>
			</tr>
			<tr>
				<th>
					项目描述:
				</th>
				<td>
					<textarea id="edit_content" style="width:200px;height:200px"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<h2>项目人员设置</h2>
				</td>
			</tr>
			<tr>
				<th>
					 项目发布人
				</th>
				<td>
					{=$sCurrentUser}
				</td>
			</tr>
			<tr>
				<th>
					 项目责任人
				</th>
				<td>
					<input type="text" id="edit_selectid" disabled="disabled" style="background-color:white" value="{=$sUserName}"/><a id="selectuser" href="#">选择</a>
				</td>
			</tr>
			<tr>
				<th>
					 项目权限
				</th>
				<td>
					<input name="edit_purview" type="radio" value='1'/>项目负责人
					<input name="edit_purview" type="radio" value='1'/>所有人
				</td>
			</tr>
			<tr>
				<td>
					<h2>提醒设置</h2>
				</td>
			</tr>
			<tr>
				<th>
					 提醒接受人
				</th>
				<td>
					<input name="edit_remind" type="checkbox"/>
					分配人
					<input name="edit_remind" type="checkbox"/>
					责任人
				</td>
			</tr>
			<tr>
				<th>
					 项目进度
				</th>
				<td>
					<select name="rates">
						<option value="10" {=$sPosition==$aPos['pid'] ?'selected':''>10%</option>
						<option value="20" {=$sPosition==$aPos['pid'] ?'selected':''>20%</option>
						<option value="30" {=$sPosition==$aPos['pid'] ?'selected':''>30%</option>
						<option value="40" {=$sPosition==$aPos['pid'] ?'selected':''>40%</option>
						<option value="50" {=$sPosition==$aPos['pid'] ?'selected':''>50%</option>
						<option value="60" {=$sPosition==$aPos['pid'] ?'selected':''>60%</option>
						<option value="70" {=$sPosition==$aPos['pid'] ?'selected':''>70%</option>
						<option value="80" {=$sPosition==$aPos['pid'] ?'selected':''>80%</option>
						<option value="90" {=$sPosition==$aPos['pid'] ?'selected':''>90%</option>
						<option value="100" {=$sPosition==$aPos['pid'] ?'selected':''>100%</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					 项目状态
				</th>
				<td>
					<select name="status">
						<option value="1" {=$sPosition==$aPos['pid'] ?'selected':''>进行中</option>
						<option value="2" {=$sPosition==$aPos['pid'] ?'selected':''>终止</option>
						<option value="3" {=$sPosition==$aPos['pid'] ?'selected':''>完成</option>
						<option value="4" {=$sPosition==$aPos['pid'] ?'selected':''>暂停</option>
						<option value="5" {=$sPosition==$aPos['pid'] ?'selected':''>延迟</option>
					</select>
				</td>
			</tr>
		</table>
		<input type="hidden" name="hide_uid" id="hide_uid" value="{=$sUid}"/>
		<input type="submit" value="提交" />
	</form>
</div>
<script>
	jQuery('#selectuser').click(
		
		function selectEmployee(){
			var uid = window.showModalDialog("?c=org.opencomb.openoa.PersonnelManagement.Contract.EmployeeManagement");
			console.log(uid);
			if(uid!=null)
			{
				var arrValue = uid.split('.');
				jquery('#edit_selectid').attr("value",arrValue[1]);
				jquery('#hide_uid').attr("value",arrValue[0]);
			}
		}		
	);
</script>