<lib name="jquery"/>
<css src="openoa:css/base.css" />
<css src="openoa:css/oa.css" />
<css src="openoa:css/oabody.css" />

		<div class="oa_tablehead">
			<div class="oa_tablehead_tilte">
				已发文件
			</div>
			<div class="oa_tablehead_button">
			</div>
		</div>
		<div class="oa_table">
			<table>
				<thead>
					<tr>
						<th>标题</th>
						<th>姓名</th>
						<th>工号</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					 <foreach for='$list' item="aData">
						<tr>
						  <td><a href="?c=org.opencomb.openoa.office.fileDetail&fromMenu=fileOutbox&id={=$aData['id']}">{=$aData['title']}</a></td>
						  <td>{=$aData['userinfo.name']}</td>
						  <td>{=$aData['userinfo.eid']}</td>
						  <td><a href="{=$aData['att'][0]['file']}" class="oa_button_down" title="下载"></a></td>
						</tr>
					 </foreach>
				</tbody>
			</table>

		</div>
